extends layout.pug

include user-form.pug
block content
  body(class='manga-details-page' style=`background-image: url(/images/${manga.id}.jpg)`)
    header
      a(href="/")
        img(class="logo" src="/images/mangaReadsLogo.jpg" alt="logo")
      nav
        ul(class="nav__links")
          if locals.authenticated
            //- li
            //-   span(class='navbar-text px-4') Welcome #{user.firstName}!
            li
              a(href=`/users/${user.id}` class="navlinks") MyProfile
            li
              form(class='form-inline pr-4' action='/users/logout' method='post')
                button(class='purpBtn' type='submit') Logout
          else
            li(class="navlinks")
              a(href="/users/login" class="navlinks") Login
            li(class="navlinks")
              a(href="/guest" class="navlinks") Guest
  +validationErrorSummary(error)
  div(class='rating')
    img(src=`${manga.coverImg}`, alt="coverImg" style="width:200px")
    form(action=`/mangas/${id}/reviews/add` method="post")
      input(type='hidden' name='_csrf' value=csrfToken)
        //- input(type='text' id='rating' name='rating' required)

      div()
        if errors
          ul
            each error in errors
              li= error
        p Rating
        div(class="star_rating")
          button(class="star") &#9734
          button(class="star") &#9734
          button(class="star") &#9734
          button(class="star") &#9734
          button(class="star") &#9734
          p(class="current_rating") 0 of 5
        input(type="text" id="rating" name="rating" value="")
        p(class="rating-label") What did you think?
        div
        textarea(id='comment' name='comment' placeholder="Enter your review (optional)" style="margin-left: 0")
      button(type="submit") Post review
  +footer
  script(src="/js/starscript.js" type="module")
  //-       //- input(type="radio" id="star5" name="rate" value="5")
  //-       label(id="star5" title='text' style="opacity: 50%") ⭐
  //-       //- input(type="radio" id="star4" name="rate" value="4")
  //-       label(id="star4" title='text' style="opacity: 50%") ⭐
  //-       //- input(type="radio" id="star3" name="rate" value="3")
  //-       label(id="star3" title='text' style="opacity: 50%") ⭐
  //-       //- input(type="radio" id="star2" name="rate" value="2")
  //-       label(id="star2" title='text' style="opacity: 50%") ⭐
  //-       //- input(type="radio" id="star1" name="rate" value="1")
  //-       label(id="star1" title='text' style="opacity: 50%") ⭐
  //-       input(type='hidden' name='_csrf' value=csrfToken)
  //-       div
