extends layout.pug

include user-form.pug

block content
  body(class='manga-details-page' style=`background-image: url(/images/${manga.id}.jpg)`)
    header
      a(href="/")
        img(class="logo" src="/images/mangaReadsLogo.jpg" alt="logo")
      nav
        ul(class="nav__links")
          if locals.authenticated
            //- li
            //-   span(class='navbar-text px-4') Welcome #{user.firstName}!
            li
              a(href=`/users/${user.id}` class="navlinks") MyProfile
            li
              form(class='form-inline pr-4' action='/users/logout' method='post')
                button(class='purpBtn' type='submit') Logout
          else
            li(class="navlinks")
              a(href="/users/login" class="navlinks") Login
            li(class="navlinks")
              a(href="/guest" class="navlinks") Guest
  +validationErrorSummary(error)
  div(class='rating')
    img(src=`${manga.coverImg}`, alt="coverImg" style="width:200px")
    form(action=`/mangas/${mangaId}/reviews/edit/${reviewId}` method="post")
      input(type='hidden' name='_csrf' value=csrfToken)
      div
        if errors
          ul
            each error in errors
              li= error
        label(for='rating-edit') Previous rating:
        label(for='rating')= review.rating
        p Rating
        div(class="star_rating")
          button(class="star") &#9734
          button(class="star") &#9734
          button(class="star") &#9734
          button(class="star") &#9734
          button(class="star") &#9734
          p(class="current_rating") 0 of 5
        input(type="text" id="rating" name="rating" value="")
        div
        label(for='review') What did you think?
        div
        textarea(id='comment' name='comment')= review.comment

      button(type="submit") Re-post review
  +footer
  script(src="/js/starscript.js" type="module")
      //- label(id="star5" title='text' style="opacity: 50%") ⭐
      //- label(id="star4" title='text' style="opacity: 50%") ⭐
      //- label(id="star3" title='text' style="opacity: 50%") ⭐
      //- label(id="star2" title='text' style="opacity: 50%") ⭐
      //- label(id="star1" title='text' style="opacity: 50%") ⭐
