extends layout.pug

include user-form.pug

block content
  body
    header
      a(href="/")
        img(class="logo" src="/images/mangaReadsLogo.jpg" alt="logo")
      nav
        ul(class="nav__links")
          if locals.authenticated
            //- li
            //-   span(class='navbar-text px-4') Welcome #{user.firstName}!
            li
              a(href=`/users/${user.id}` class="navlinks") MyProfile
            li
              form(class='form-inline pr-4' action='/users/logout' method='post')
                button(class='purpBtn' type='submit') Logout
          else
            li(class="navlinks")
              a(href="/users/login" class="navlinks") Login
            li(class="navlinks")
              a(href="/guest" class="navlinks") Guest
  div(class="mangasTitle")
    h1 Mangas
  div(class="gallery")
    each manga in mangas
      div(class="content")
        a(href= `/mangas/${manga.id}`)
          img(src=`${manga.coverImg}` class="img")
          h3(class="mangaCardTitle") #{manga.title}
          h4(class="mangaCardGenre") #{manga.genre}

//- html
//-   head
//-     title Mangareads
//-     link(rel="stylesheet", href="/css/general.css")
//-   body
//-     table
//-       thead
//-         tr
//-           th
//-           th Title
//-           th Genre
//-       tbody
//-         each manga in mangas
//-           tr
//-             td= `${manga.title}`
//-             td= `${manga.genre}`
//-             td: a(href= `/mangas/${manga.id}`) More Info
