html
  head
  body
    h2= `${manga.title}`
    div
    h3= `${manga.author}`
    div
    p= `${manga.description}`
    div
    p= `${manga.genre}`
    div
    p= `${manga.releaseDate}`
    div

    if userId !== null
      select(name="bsSelector" id=`${manga.id}` class="book-shelf")
        option(value="") Select One
        each bookshelf in bookshelves
          option(value=`${bookshelf.id}`) #{bookshelf.name}
      div
      a(href= `/mangas/${manga.id}/reviews`)
        button(type='button') View all reviews
    else
      div
      a(href= `/mangas/${manga.id}/reviews`)
        button(type='button') View all reviews
    script(src="/js/index.js" type="module")
