html
  head
  body
    h3= `${bookshelves[0].User.firstName}'s Bookshelves`
    a(href= `/users/${bookshelves[0].User.id}/bookshelves/${bookshelves[0].id}`) Want To Read
    div
    a(href= `/users/${bookshelves[1].User.id}/bookshelves/${bookshelves[1].id}`) Currently Reading
    div
    a(href= `/users/${bookshelves[2].User.id}/bookshelves/${bookshelves[2].id}`) Read
    div
