extend home.pug

block content
  body
    if reviews !== null
      h1= reviews[0].Manga.title
      a(href=`reviews/add` value="post")
        button(type='button') Write a review
      ul(id="reviews")
        each review in reviews
          label(name="rating") Rating:
            li= review.rating
          label(name="name") Name:
            li= review.user.firstName
          label(name="comment") comments:
            li= review.comment
    else
      h1= manga.title
      a(href=`reviews/add` value="post")
        button(type='button') Write a review
