extend home.pug

block content
  body

    h1= reviews[0].Manga.title
    if userId !== null
      a(href=`/mangas/${id}/reviews/add` value="post")
        button(type='button') Write a review
    else
      //- a(href=`/users/login`)
      a(href=`/mangas/${id}/reviews/users/login`)
        button(type='button') Write a review
      ul(id="reviews")
        each review in reviews
          label(name="rating") Rating:
            li= review.rating
          label(name="name") Name:
            li= review.user.firstName
          label(name="comment") comments:
            li= review.comment



