extend home.pug

block content
  img(src=`${reviews[0].Manga.coverImg}`, alt="coverImg" style="width:200px")
  body
    h1= reviews[0].Manga.title
    a(href=`reviews/add` value="post")
      button(type='button') Write a review
    each review in reviews
      ul(id="reviews")
        label(name="rating") Rating:
          ul= review.rating
        label(name="name") Name:
          ul= review.user.firstName
        label(name="comment") comments:
          ul= review.comment

      //- p(value="Name:")= review.user.firstName
      //- p(value="Rating:")= review.rating
